T1_Introduccion-XML/U1_T2_DTD/Ejercicio5/DTDej5.dtd

<!ELEMENT discos (disco+)>
<!ELEMENT disco (titulo, interpretes, pistas)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT interpretes (interprete+)>
<!ELEMENT interprete (nombre, apellidos, rol?)>
<!ELEMENT pistas (pista+)>
<!ELEMENT pista (numero, cancion, duracion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT rol (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT cancion (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>