T1_Introduccion-XML/Cuadernillo_III_DTD/Ejercicio4/DTDej4.dtd

<!ELEMENT matricula (personal, pago)>
<!ELEMENT personal (dni, nombre, titulacion, curso_academico, domicilios)>
<!ELEMENT domicilios (domicilio+)>
<!ATTLIST domicilio tipo (habitual|familiar) #REQUIRED>
<!ELEMENT domicilio (nombre)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT tipo_matricula (#PCDATA)>